---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="CitySOS">
	<script>
		function onToggleMenu() {
			const navbar = document.querySelector('.responsive-navbar');
			navbar.classList.toggle('hidden');
			document.getElementById("onToggleMenuButton").classList.toggle('rotate-180');

			const icon  = document.getElementById("onToggleMenuButton");
			icon.getAttribute('name') === 'menu' ? icon.setAttribute('name', 'close') : icon.setAttribute('name', 'menu');
		}
		document.getElementById("onToggleMenuButton").addEventListener("click", onToggleMenu);
	</script>
	<nav class="bg-white flex justify-around items-center p-4 drop-shadow-lg">
		<a href="#">
			<div class="flex gap-2 items-center hover:scale-95 duration-200">
				<img class="h-6 md:h-8  sm:h-4" src="/sos-icon.webp" alt="CitySOS Logo"/>
				<h1 class="text-2xl font-bold text-primary">CitySOS</h1>
			</div>
		</a>
		<ul class="hidden md:flex items-center gap-8 text-lg">
			<li><a id="features-nav-link" class="hover:text-secondary hover:cursor-pointer">Características</a></li>
			<li><a id="citizen-nav-link" class="hover:text-secondary hover:cursor-pointer">Ciudadano</a></li>
			<li><a id="police-nav-link" class="hover:text-secondary hover:cursor-pointer">Policía</a></li>
			<li><a id="download-nav-link" class="hover:text-secondary hover:cursor-pointer">Descarga</a></li>
		</ul>
		<div>
			<button href="#" target="_blank"
					class="flex gap-2 px-4 py-2 outline outline-2 outline-primary rounded-full hover:scale-95 duration-200">
				<p class="font-medium text-primary">Descarga</p>
				<svg
					width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 22.0002H16C18.8284 22.0002 20.2426 22.0002 21.1213 21.1215C22 20.2429 22 18.8286 22 16.0002V15.0002C22 12.1718 22 10.7576 21.1213 9.8789C20.3529 9.11051 19.175 9.01406 17 9.00195M7 9.00195C4.82497 9.01406 3.64706 9.11051 2.87868 9.87889C2 10.7576 2 12.1718 2 15.0002L2 16.0002C2 18.8286 2 20.2429 2.87868 21.1215C3.17848 21.4213 3.54062 21.6188 4 21.749" stroke="#B30000" stroke-width="1.5" stroke-linecap="round"></path> <path d="M12 2L12 15M12 15L9 11.5M12 15L15 11.5" stroke="#B30000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
			</button>
		</div>
		<div class="md:hidden flex items-center">
			<ion-icon
				class="text-32 hover:cursor-pointer hover:scale-95 duration-200"
				size="large"
				id="onToggleMenuButton"
				name="menu">
			</ion-icon>
		</div>
	</nav>
	<div class="responsive-navbar hidden shadow">
		<div class="md:hidden justify-center items-center text-center">
			<ul class="uppercase w-full">
				<a href="#features-section" id="features-nav-link"><li class="py-6 my-4 hover:box-element-fill">Características</li></a>
				<a href="#citizen-section" id="citizen-nav-link"><li class="py-6 my-4 hover:box-element-fill">Ciudadano</li></a>
				<a href="#police-section" id="police-nav-link"><li class="py-6 my-4 hover:box-element-fill">Policía</li></a>
				<a href="#download-section" id="-download-link"><li class="py-6 my-4 hover:box-element-fill">Descarga</li></a>
			</ul>
		</div>
	</div>
	<main class="container mx-auto">
		<Hero />


	</main>
</Layout>

<style>
	.blob-bg {
		background-image: url('/magicpattern-blob.png');
	}
</style>
