---

---

<section class="container mx-auto grid grid-cols-1 md:grid-cols-2 py-12">
    <div class="flex flex-col justify-center items-center p-12">
        <div class="text-center md:text-left shadow-lg p-12 grid gap-8">
            <h1 class="md:text-left text-5xl font-bold text-secondary">
                SISTEMA  DE BOTÓN DE PÁNICO
            </h1>
            <p class="text-2xl my-6">
                <span class="font-medium text-secondary">CitySOS</span> Tu tranquilidad en tiempo real. Conecta con el sistema de seguridad ciudadana para respuestas rápidas ante cualquier emergencia.
            </p>
            <div class="grid md:flex gap-4 place-items-center justify-center md:justify-start">
                <a href="#" class="hover:cursor-pointer hover:scale-95 duration-200">
                    <img src="./google-play-badge.png" alt="Google Play Badge" class="h-12">
                </a>
                <a href="#" class="hover:cursor-pointer hover:scale-95 duration-200">
                    <img src="./Download_on_the_App_Store_Badge_ES_RGB_blk_100217.svg" alt="Google Play Badge" class="h-12">
                </a>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center bg-cover bg-center blob-bg">
        <div class="bg-cover bg-centerp-6 md:p-12 lg:p-16">
            <img class="select-none animate-bounce-slow"
                 draggable="false"
                 src="./iPhoneX-Mockup 1.png" alt="CitySOS Demo">
        </div>
    </div>
</section>