---

---

<section class="container mx-auto" id="features">
    <div class="grid grid-cols-1 md:grid-cols-2 py-12">
        <div class="flex justify-center items-center bg-cover bg-center blob-bg">
            <div class="bg-cover bg-centerp-6 md:p-12 lg:p-16">
                <img class="select-none animate-bounce-slow"
                     draggable="false"
                     src="./features-demo.png" alt="CitySOS Demo">
            </div>
        </div>
        <div class="flex flex-col gap-8 p-4">
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-2xl font-bold uppercase">Integración con seguridad ciudadana</h3>
                        <p class="text-lg text-justify">CitySOS se conecta directamente con el sistema de seguridad ciudadana, permitiendo una colaboración efectiva entre los usuarios y las autoridades locales.</p>
                    </div>
                </div>
            </div>
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-2xl font-bold uppercase">Botón de pánico fácil de usar</h3>
                        <p class="text-lg text-justify">Accede rápidamente al botón de pánico con un simple toque, activando una respuesta inmediata de los servicios de seguridad.</p>
                    </div>
                </div>
            </div>
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-2xl font-bold uppercase">Geolocalización precisa</h3>
                        <p class="text-lg text-justify">CitySOS utiliza tecnología de geolocalización avanzada para asegurar que tu ubicación exacta se comparta con las autoridades en caso de emergencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div class="grid gap-2 text-center justify-center p-4">
            <h1 class="uppercase text-3xl text-primary font-bold">¿Cómo funciona CitySOS?</h1>
            <p class="text-medium text-xl">Mira el video acerca de nuestro producto</p>
        </div>
        <iframe class="py-8 w-full h-96 px-8 lg:px-20"
                src="https://www.youtube.com/embed/RwU7YY6emYc?si=UGjcpZnkYKuuN9ld"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
</section>

<style>
    ion-icon {
        font-size: 64px;
    }
</style>