---

---

<section>
    <div class="grid md:flex gap-6 md:gap-36 items-center justify-center py-12 bg-background">
        <div class="flex flex-col gap-2 md:gap-4 items-center justify-center hover:scale-95 duration-100 p-2 md:p-8">
            <ion-icon name="download-outline" class="text-32 text-primary font-bold"></ion-icon>
            <h1 class="font-bold text-3xl">0</h1>
            <p class="text-gray-500 text-xl">Total de descargas</p>
        </div>
        <div class="flex flex-col gap-2 md:gap-4 items-center justify-center  hover:scale-95 duration-100 p-2 md:p-8">
            <ion-icon name="shield-outline" class="text-32 text-primary font-bold"></ion-icon>
            <h1 class="font-bold text-3xl">0</h1>
            <p class="text-gray-500 text-xl">Agentes de seguridad</p>
        </div>
        <div class="flex flex-col gap-2 md:gap-4 items-center justify-center  hover:scale-95 duration-100 p-2 md:p-8">
            <ion-icon name="checkmark-circle-outline" class="text-32 text-primary font-bold"></ion-icon>
            <h1 class="font-bold text-3xl">0</h1>
            <p class="text-gray-500 text-xl">Casos atendidos</p>
        </div>
    </div>
</section>

<style>
    ion-icon {
        font-size: 64px;
    }
</style>