---
---

<script>
</script>

<section class="bg-background" id="reviews">
    <div class="container mx-auto px-8 py-20">
        <div class="grid gap-2 text-center lg:text-start">
            <h1 class="text-2xl md:text-3xl font-bold text-primary uppercase">Testimonios</h1>
            <p class="text-xl">CitySOS siempre te acompaña en donde estés</p>
        </div>
        <div class="grid lg:grid-cols-2 gap-8 mt-16">
            <div class="flex gap-8 md:py-4">
                <img src="./user-1.png" alt="Reviewer profile picture" class="h-16" />
                <div>
                    <div class="flex gap-4 items-center">
                        <h1 class="text-xl font-bold">Jhon Nick</h1>
                        <div class="flex gap-2 items-center text-contrast text-md lg:text-xl">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                    </div>
                    <p>"¡Increíblemente útil! Tuve que usar CitySOS durante un incidente en la calle y la respuesta fue rápida y efectiva. Mis contactos de emergencia recibieron la alerta al instante y pude sentir el apoyo en tiempo real."</p>
                </div>
            </div>
            <div class="flex gap-8 md:py-4">
                <img src="./user-3.png" alt="Reviewer profile picture" class="h-16" />
                <div>
                    <div class="flex gap-4 items-center">
                        <h1 class="text-xl font-bold">Susan Jones</h1>
                        <div class="flex gap-2 items-center text-contrast text-md lg:text-xl">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                    </div>
                    <p>"CitySOS me ha dado una sensación de seguridad increíble. Nunca me había sentido tan tranquila sabiendo que tengo ayuda al alcance de mi mano en caso de emergencia. ¡Es una aplicación imprescindible para cualquier persona preocupada por su seguridad!"</p>
                </div>
            </div>
            <div class="flex gap-8 md:py-4">
                <img src="./user-2.png" alt="Reviewer profile picture" class="h-16" />
                <div>
                    <div class="flex gap-4 items-center">
                        <h1 class="text-xl font-bold">Mary Brown</h1>
                        <div class="flex gap-2 items-center text-contrast text-md lg:text-xl">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                    </div>
                    <p>"Como madre soltera, CitySOS me brinda una tranquilidad invaluable. Sé que, esté donde esté, mis hijos y yo estamos protegidos con solo presionar un botón. La interfaz es fácil de usar y la atención al cliente es excepcional."</p>
                </div>
            </div>
            <div class="flex gap-8 md:py-4">
                <img src="./user-4.png" alt="Reviewer profile picture" class="h-16" />
                <div>
                    <div class="flex gap-4 items-center">
                        <h1 class="text-xl font-bold">David Williams</h1>
                        <div class="flex gap-2 items-center text-contrast text-md lg:text-xl">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                    </div>
                    <p>"Soy corredor y suelo entrenar solo en áreas remotas. CitySOS me da la confianza para salir a correr sin preocupaciones. He tenido que usarla en un par de ocasiones y siempre me sorprende lo rápido que responden. Una aplicación esencial para cualquier persona que practique deportes al aire libre."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    ion-icon {
        color: #FFAF00;
    }
</style>